:root {
    --color-black: #212121;
    --color-white: #ffffff;
    --color-gray: #757575;
    --color-blue: #2196F3;
    --color-background: #2F303A;
    --gra: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));
}
